In [1]:
# Import dictionaries
import pandas as pd
import numpy as np

from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [12]:
# Pull in lyric data
lyric_file = "billboard_lyrics_1964-2015.csv"
lyric_df = pd.read_csv(lyric_file, skipinitialspace=False, encoding="ISO-8859-1")
lyric_df.head()

,Rank,Song,Artist,Year,Lyrics,Source
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,3.0
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1.0
2,3,i cant get no satisfaction,the rolling stones,1965,,1.0
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1.0
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1.0

In [11]:
current_df = lyric_df.loc[lyric_df["Year"] == 2015,:]
current_df.head()

,Rank,Song,Artist,Year,Lyrics,Source
5000,1,uptown funk,mark ronson featuring bruno mars,2015,this hit that ice cold michelle pfeiffer that...,1.0
5001,2,thinking out loud,ed sheeran,2015,when your legs dont work like they used to be...,1.0
5002,3,see you again,wiz khalifa featuring charlie puth,2015,its been a long day without you my friend and...,1.0
5003,4,trap queen,fetty wap,2015,im like hey wassup hello seen yo pretty ass s...,1.0
5004,5,sugar,maroon 5,2015,im hurting baby im broken down i need your lo...,1.0

In [3]:
# Check field count
lyric_df.count()

Rank      5100
Song      5100
Artist    5100
Year      5100
Lyrics    4913
Source    4913
dtype: int64

In [5]:
# Mark empty spaces and remove blank ones
lyric_noblanks = lyric_df.replace("  ","NAN")
lyric_noblanks = lyric_noblanks.replace("","NAN")
lyric_noblanks = lyric_noblanks.dropna(how="any")
lyric_noblanks.head()

,Rank,Song,Artist,Year,Lyrics,Source
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,3.0
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1.0
2,3,i cant get no satisfaction,the rolling stones,1965,NAN,1.0
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1.0
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1.0

In [6]:
# Check count again, knowing NAN is still present
lyric_noblanks.count()

Rank      4913
Song      4913
Artist    4913
Year      4913
Lyrics    4913
Source    4913
dtype: int64

In [9]:
# Variables for holding sentiments
compound_list = []
positive_list = []
neutral_list = []
negative_list = []

counter = 0

# Loop through lyrics
for row in lyric_noblanks["Lyrics"]:
    # Run Vader Analysis on 
    results = analyzer.polarity_scores(row)
    
    compound = results["compound"]
    pos = results["pos"]
    neu = results["neu"]
    neg = results["neg"]

    compound_list.append(compound)
    positive_list.append(pos)
    negative_list.append(neg)
    neutral_list.append(neu)

    
    counter +=1
print(f'success: {counter}')

success: 4913